.copyRight{
    padding-top: 25px;
    padding-bottom: 22px;
    background-color: #2b2b2b;
    box-sizing: border-box;
    border-top: 1px solid rgb(58, 58, 58);
}


.copyRight__container{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-family: "Georgia";
    color: rgb(151, 151, 151);
}